{% load static %}<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    {% comment %}
      O 'block content' define uma área que pode ser substituída (sobrescrita).
      Este arquivo funciona como um "esqueleto" (ex: base.html).
      Qualquer template filho que use '{% extends "base.html" %}' poderá 
      colocar o seu próprio código HTML exatamente dentro deste espaço.
    {% endcomment %}
    <main class="content">
        {% block content %}
        <!-- Se você colocar algum HTML aqui, ele será o conteúdo padrão caso o filho não o altere. -->
        {% endblock content %}
    </main>
</body>
</html>