<header class="header">
    {% comment %}
      SEÇÃO 1: LOGO / TÍTULO PRINCIPAL
      Exibe o título "Agenda" estruturado semanticamente como o principal da página (h1).
      O texto funciona como um link dinâmico do Django que redireciona para a página inicial.
    {% endcomment %}
    <h1 class="header-heading">
      <a href="{% url 'contact:index' %}" class="header-link">
        Agenda
      </a>
    </h1>

    {% comment %}
      SEÇÃO 2: MENU DE NAVEGAÇÃO
      Utiliza a tag semântica <nav> para indicar aos navegadores que esta é a área de links principais.
      Os links estão organizados em uma lista não ordenada (ul) com itens de lista (li).
    {% endcomment %}
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="{% url 'contact:create' %}" class="menu-link">
            Create
          </a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">
            Link 2
          </a>
        </li>
      </ul>
    </nav>

    {% comment %}
      SEÇÃO 3: BARRA DE PESQUISA
      Contém um formulário que utiliza o método GET, ideal para buscas pois envia o termo digitado 
      diretamente na URL do navegador. O campo de input usa o nome "q", que será capturado pela View.

      A necessidade de colocar '{% url "contact:search" %}' no 'action' é dizer ao navegador 
      exatamente para qual endereço ele deve enviar os dados digitados. 
      Se o 'action' ficar vazio (""), o formulário enviará a busca para a URL da própria página atual 
      (ex: se você estiver na página de detalhes de um contato, a busca tentará rodar lá dentro). 
      Apontar explicitamente para 'contact:search' garante que a busca sempre funcione de qualquer lugar do site.
    {% endcomment %}
    <div class="search">
      <form 
        action="{% url 'contact:search' %}" 
        method="get"
      >
        <input 
          type="search" 
          class="search-input"
          placeholder="Search"
          id="search"
          name="q"
        >
      </form>
    </div>
</header>