{% extends 'global/base.html' %}

{% block content %}
  {# Cria um container principal para envolver todo o formulário #}
  <div class="form-wrapper">

    {# Exibe o título principal da seção de contato #}
    <h2>Contact</h2>
    
    {# Inicia o formulário HTML #}
    {# action= Envia os dados para a mesma URL que renderizou a página #}
    {# method="POST" Define o método HTTP seguro para envio de dados sensíveis #}
    {# enctype= Obrigatório no Django para permitir o upload de arquivos e mídias #}
    <form 
      action="" 
      method="POST" 
      enctype="multipart/form-data" 
    >

      {# Bloco visual para agrupar os campos de entrada do formulário #}
      <div class="form-content">
        {# Estrutura de estilo para um campo específico (Label + Input) #}
        <div class="form-group">
          {# Rótulo visual ligado ao campo de texto pelo ID do elemento #}
          <label for="id_first_name">LABEL</label>
          {# Campo de texto HTML puro configurado para receber o valor do 'first_name' #}
          <input type="text" name="first_name" maxlength="255" id="id_first_name">
        </div>
      </div>

      {# Bloco visual reservado para a área de ações do formulário #}
      <div class="form-content">
        {# Estrutura de estilo para alinhar o botão de envio #}
        <div class="form-group">
          {# Botão que dispara o gatilho de envio (submit) dos dados do formulário #}
          <button class="btn" type="submit">Send</button>
        </div>
      </div>

    {# Encerra a tag do formulário #}
    </form>
  {# Encerra a div container principal #}
  </div>
{% endblock content %}
