{% extends 'global/base.html' %}
{% comment %} 
  Indica que este arquivo herda a estrutura visual de um template base.
  Ele reutiliza o "esqueleto" HTML definido no arquivo 'global/base.html'.
{% endcomment %}

{# Define o bloco de conteúdo que será inserido no arquivo base do projeto #}
{% block content %}
{# Verifica se a lista de contatos contém algum item #}
{% if page_obj %}
    <!-- Estrutura de tabela responsiva para exibir os dados dos contatos -->
    <div class="responsive-table">
      <table class="contacts-table">
        <caption class="table-caption ">
          Contacts
        </caption>

        <!-- Cabeçalho da tabela com os títulos das colunas -->
        <thead>
          <tr class="table-row table-row-header">
            <th class="table-header">ID</th>
            <th class="table-header">First Name</th>
            <th class="table-header">Last Name</th>
            <th class="table-header">Phone</th>
            <th class="table-header">E-mail</th>
          </tr>
        </thead>

        <!-- Corpo da tabela onde os dados dos contatos são renderizados -->
        <tbody>
          {# Percorre a lista de contatos e cria uma linha para cada um #}
          {% for contact in page_obj %}
            <tr class="table-row">
              <!-- Coluna do ID com link para a página de detalhes do contato -->
              <td class="table-cel">
                <a 
                  class="table-link" 
                  href="{% url 'contact:contact' contact.id %}"
                >
                  {{ contact.id }}
                </a>
              </td>
              <!-- Exibição dos dados textuais do contato -->
              <td class="table-cel">
                {{ contact.first_name }}
              </td>
              <td class="table-cel">
                {{ contact.last_name }}
              </td>
              <td class="table-cel">
                {{ contact.phone }}
              </td>
              <td class="table-cel">
                {{ contact.email }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {# Bloco executado caso a lista "contacts" esteja vazia ou não exista #}
  {% else %}
    <!-- Mensagem de feedback visual informando a ausência de registros -->
    <div class="single-contact">
      <h1 class="single-contact-name">
        Nenhum contato encontrado.
      </h1>
    </div>
  {% endif %}
{# Finaliza o bloco de conteúdo #}
{% endblock content %}
